* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    background-color: #EDEDED;
}

.cabeçalho{
    width: 100%;
    background-color: #05226D;
    display: flex;
    justify-content: space-around;
    height: 250px;
    color: #fff;
    align-items: center;
}

.logo-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    margin-top: -150px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-texto{
    margin-left: 20px;
    margin-top: -150px;
}

.contato a {
    color: #fff;
    text-decoration: none;
}

.contato{
    margin-top: -150px;
}

.tela-login {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 70px;
    border-radius: 20px;
    margin-top: -80px;
    height: 500px;
    width: 430px;
}

.titulo-login{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
    margin-top: -30px;
}

.caixa {
    padding: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 15px;
    width: 290px;
}

.tela-login a{
    color: #05226D;
    font-size: smaller;
}
.btn-entrar{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #05226D;
    color: #fff;
    border: none;
    border-radius: 29px;
    padding: 12px 40px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -10px;
}

.btn-criar-conta{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border: 2px solid #05226D;
    border-radius: 29px;
    padding: 11px 18px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    margin-top: -10px;
}

.ou{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
}
