{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEUs</title>
    <link rel="stylesheet" href="{% static 'groups/styles/cadastro.css' %}">
</head>
<body>
    <header class="cabeçalho">
            <div class="logo">
                <div class="logo-img"></div>
                <div class="logo-texto">
                    <h1>GEUs</h1>
                </div>
            </div>
            <div class="contato">
                <a href="#">Contato</a>
            </div>
    </header>
    </div>
    <div class="tela-cadastro">
        <form action="/cadastro/" method="POST">
        {% csrf_token %}
            <h1 class="titulo-cadastro">Cadastro</h1>
            <br><br><br>
            <input class="caixa" type="text" placeholder="Email" name="email">
            <br><br>
            <input class="caixa" type="text" placeholder="Nome completo" name="nome">
            <br><br>
            <input class="caixa" type="text" placeholder="Nome de usuário" name="usuario">
            <br><br>
            <input class="caixa" type="password" placeholder="Senha" name="senha">
            <br><br>
            <input class="caixa" type="password" placeholder="Confirmar senha" name="confirmar">
            <br><br>
            <button class="btn-criar-conta">Criar conta</button>
        </form>
    </div>
</body>
</html>
