{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'groups/styles/form.css' %}">
</head>
<body>
	<p>Responda todas as perguntas, com exceção da primeira, baseando-se numa escala de 1 a 5.</p>
	<form action="/questionario/" method="POST">
        {% csrf_token %}
        {% for question in questions %}
        <p>{{ question.statement }}</p>
            <input type="radio" id="{{question.name}}" value="mto pouco">1
            <input type="radio" id="{{ question.name }}" value="poucp">2
            <input type="radio" id="{{ question.name }}" value="neutro">3
            <input type="radio" id="{{ question.name }}" value="Concordo">4
            <input type="radio" id="{{ question.name }}" value="Bastante">5

        <p></p>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>