{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEUs</title>
    <link rel="stylesheet" href="{% static 'groups/styles/cEventos.css' %}">
</head>
<body>
    <header class="cabeçalho">
            <div class="logo">
                <div class="logo-img"></div>
                <div class="logo-texto">
                    <h1>GEUs</h1>
                </div>
            </div>
            
    </header>
    </div>
    <div class="tela-evento">
        <h1 class="titulo-evento">Criar Eventos</h1>
        <br><br><br>
        <input class="caixa" type="text" placeholder="Data">
        <br><br>
        <input class="caixa" type="text" placeholder="Local">
        <br><br>
        <input class="caixa" type="text" placeholder="Horário">
        <br><br>
        <button class="btn-criar">Criar evento</button>
        <br>

    </div>
</body>
</html>