{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'groups/styles/landing.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="logo">
        <div class="logo-name">GEUs</div>
        <div class="logo-item">Crie sua conta</div>
        <div class="logo-item">Contato</div>
        <div class="logo-item">Sobre nós.</div>
        <div class="logo-item">Login</div>
    </section>
    <section class="desc-site">
        <div class="catchphrase">O lugar ideal para criar grupos de estudo!</div>
        <div class="desc">O GEU te conecta com outras pessoas para solucionar o seu problema da maneira mais eficaz.</div>
        <div class="img">
            <img src="{% static 'groups/images/img.jpeg' %}" width="566px" height="437px" alt="img-lp">
        </div>
    </section>
    <div class="create-acc">Crie sua conta!</div>

</body>
</html>