{% extends 'groups/base/base.html' %}

{% load static %}

{% block title %}Landing Page{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'groups/styles/landing.css' %}">
{% endblock %}


{% block header_content %}
    <div class="logo-item">Crie sua conta</div>
    <div class="logo-item">Contato</div>
    <div class="logo-item">Sobre nós.</div>
    <div class="logo-item">Login</div>
{% endblock %}

{% block body %}
    <section class="logo">

    </section>
    <section class="desc-site">
        <div class="catchphrase">O lugar ideal para criar grupos de estudo!</div>
        <div class="desc">O GEU te conecta com outras pessoas para solucionar o seu problema da maneira mais eficaz.</div>
        <div class="img">
            <img src="{% static 'groups/images/img.jpeg' %}" width="566px" height="437px" alt="img-lp">
        </div>
        <div class="create-acc">Crie sua conta!</div>
    </section>


{% endblock %}