{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário</title>
    <link rel="stylesheet" href="{% static 'groups/styles/questionario.css' %}">
</head>
<body>
    <header class="cabeçalho">
        <div class="logo">
            <div class="logo-img"></div>
            <div class="logo-texto">
                <h1>GEUs</h1>
            </div>
        </div>
    </header>
    <div class="quest">
        <p class="titulo">Responda todas as perguntas, com exceção da primeira, baseando-se numa escala de 1 a 5.</p>
            <form>
                <div class="p1">
                    1) Quantas horas por semana você dedica aos seus estudos?
                    <br>
                    <br />
                    <input type="radio" name="1)Quantas horas por semana você dedica aos seus estudos?
            " /> 1
                    <br />
                    <input type="radio" name="1)Quantas horas por semana você dedica aos seus estudos?
            " /> 2
                    <br />
                    <input type="radio" name="1)Quantas horas por semana você dedica aos seus estudos?
            " /> 3
                    <br />
                    <input type="radio" name="1)Quantas horas por semana você dedica aos seus estudos?
            " /> 4
                    <br />
                    <input type="radio" name="1)Quantas horas por semana você dedica aos seus estudos?
            " /> 5
                    <p></p>
                </div>
                <br>
                <div class="p1">
                    2) Você tem o hábito de fazer as listas do EAD ou exercícios dos livros da ementa enquanto estuda sua disciplina?
                    <br>
                    <br />
                    <input type="radio" name="2) Você tem o hábito de fazer as listas do EAD ou exercícios dos livros da ementa enquanto estuda sua disciplina?
            " /> 1
                    <br />
                    <input type="radio" name="2) Você tem o hábito de fazer as listas do EAD ou exercícios dos livros da ementa enquanto estuda sua disciplina?
            " /> 2
                    <br />
                    <input type="radio" name="2) Você tem o hábito de fazer as listas do EAD ou exercícios dos livros da ementa enquanto estuda sua disciplina?
            " /> 3
                    <br />
                    <input type="radio" name="2) Você tem o hábito de fazer as listas do EAD ou exercícios dos livros da ementa enquanto estuda sua disciplina?
            " /> 4
                    <br />
                    <input type="radio" name="2) Você tem o hábito de fazer as listas do EAD ou exercícios dos livros da ementa enquanto estuda sua disciplina?
            " /> 5
                    <p></p>
                </div>
                <br>
                <div class="p1">
                    3) Em uma escala de 1 a 5, o quão fácil é para você ficar distraído?
                    <br>
                    <br />
                    <input type="radio" name="3) em uma escala de 1 a 5, o quão fácil é para você ficar distraído?
            " /> 1
                    <br />
                    <input type="radio" name="3) em uma escala de 1 a 5, o quão fácil é para você ficar distraído?
            " /> 2
                    <br />
                    <input type="radio" name="3) em uma escala de 1 a 5, o quão fácil é para você ficar distraído?
            " /> 3
                    <br />
                    <input type="radio" name="3) em uma escala de 1 a 5, o quão fácil é para você ficar distraído?
            " /> 4
                    <br />
                    <input type="radio" name="3) em uma escala de 1 a 5, o quão fácil é para você ficar distraído?
            " /> 5
                    <p></p>
                </div>
                <br>
                <div class="p1">
                    4) Gosta de fazer resumos caprichados para as provas?
                    <br>
                    <br />
                    <input type="radio" name="4) Gosta de fazer resumos caprichados para as provas?
            " /> 1
                    <br />
                    <input type="radio" name="4) Gosta de fazer resumos caprichados para as provas?
            " /> 2
                    <br />
                    <input type="radio" name="4) Gosta de fazer resumos caprichados para as provas?
            " /> 3
                    <br />
                    <input type="radio" name="4) Gosta de fazer resumos caprichados para as provas?
            " /> 4
                    <br />
                    <input type="radio" name="4) Gosta de fazer resumos caprichados para as provas?
            " /> 5
                    <p></p>
                </div>
                <br>
                <div class="p1">
                    5) De 1 a 5, o quão fácil é a leitura de livros didáticos para você?
                    <br>
                    <br />
                    <input type="radio" name="5) De 1 a 5, o quão fácil é a leitura de livros didáticos para você?
            " /> 1
                    <br />
                    <input type="radio" name="5) De 1 a 5, o quão fácil é a leitura de livros didáticos para você?
            " /> 2
                    <br />
                    <input type="radio" name="5) De 1 a 5, o quão fácil é a leitura de livros didáticos para você?
            " /> 3
                    <br />
                    <input type="radio" name="5) De 1 a 5, o quão fácil é a leitura de livros didáticos para você?
            " /> 4
                    <br />
                    <input type="radio" name="5) De 1 a 5, o quão fácil é a leitura de livros didáticos para você?
            " /> 5
                    <p></p>
                </div>
                <br>
                <div class="p1">
                    6) Você sente que seu aprendizado melhora quando tem acesso às anotações e resoluções de exercícios feitas por seus colegas?
                    <br>
                    <br />
                    <input type="radio" name="6) Você sente que seu aprendizado melhora quando tem acesso às anotações e resoluções de exercícios feitas por seus colegas?
            " /> 1
                    <br />
                    <input type="radio" name="6) Você sente que seu aprendizado melhora quando tem acesso às anotações e resoluções de exercícios feitas por seus colegas?
            " /> 2
                    <br />
                    <input type="radio" name="6) Você sente que seu aprendizado melhora quando tem acesso às anotações e resoluções de exercícios feitas por seus colegas?
            " /> 3
                    <br />
                    <input type="radio" name="6) Você sente que seu aprendizado melhora quando tem acesso às anotações e resoluções de exercícios feitas por seus colegas?
            " /> 4
                    <br />
                    <input type="radio" name="6) Você sente que seu aprendizado melhora quando tem acesso às anotações e resoluções de exercícios feitas por seus colegas?
            " /> 5
                    <p></p>
                </div>
                <br>
                <div class="p1">
                    7) De 1 a 5, ao aprender um conteúdo, mesmo que teórico, gosta de buscar mais sobre ele fora do conteúdo que a faculdade te indica, buscar sobre ele no YouTube, pesquisar sobre suas aplicações, suas origens, etc?
                    <br>
                    <br />
                    <input type="radio" name="7)De 1 a 5, Ao aprender um conteúdo, mesmo que teórico, gosta de buscar mais sobre ele fora do conteúdo que a faculdade te indica, buscar sobre ele no YouTube, pesquisar sobre suas aplicações, suas origens, etc?
            " /> 1
                    <br />
                    <input type="radio" name="7)De 1 a 5, Ao aprender um conteúdo, mesmo que teórico, gosta de buscar mais sobre ele fora do conteúdo que a faculdade te indica, buscar sobre ele no YouTube, pesquisar sobre suas aplicações, suas origens, etc?
            " /> 2
                    <br />
                    <input type="radio" name="7)De 1 a 5, Ao aprender um conteúdo, mesmo que teórico, gosta de buscar mais sobre ele fora do conteúdo que a faculdade te indica, buscar sobre ele no YouTube, pesquisar sobre suas aplicações, suas origens, etc?
            " /> 3
                    <br />
                    <input type="radio" name="7)De 1 a 5, Ao aprender um conteúdo, mesmo que teórico, gosta de buscar mais sobre ele fora do conteúdo que a faculdade te indica, buscar sobre ele no YouTube, pesquisar sobre suas aplicações, suas origens, etc?
            " /> 4
                    <br />
                    <input type="radio" name="7)De 1 a 5, Ao aprender um conteúdo, mesmo que teórico, gosta de buscar mais sobre ele fora do conteúdo que a faculdade te indica, buscar sobre ele no YouTube, pesquisar sobre suas aplicações, suas origens, etc?
            " /> 5
                    <p></p>
                </div>
                <br>
                <div class="p1">
                    8) A/as Matérias em que você tem dificuldade tem sua nota composta principalmente por trabalhos em grupo? 
                    <br>
                    <br />
                    <input type="radio" name="8) A/as Matérias em que você tem dificuldade tem sua nota composta principalmente por trabalhos em grupo? 
            " /> 1
                    <br />
                    <input type="radio" name="8) A/as Matérias em que você tem dificuldade tem sua nota composta principalmente por trabalhos em grupo? 
            " /> 2
                    <br />
                    <input type="radio" name="8) A/as Matérias em que você tem dificuldade tem sua nota composta principalmente por trabalhos em grupo? 
            " /> 3
                    <br />
                    <input type="radio" name="8) A/as Matérias em que você tem dificuldade tem sua nota composta principalmente por trabalhos em grupo? 
            " /> 4
                    <br />
                    <input type="radio" name="8) A/as Matérias em que você tem dificuldade tem sua nota composta principalmente por trabalhos em grupo? 
            " /> 5
                    <p></p>
                </div>
                <br>
                <div class="p1">
                    9) Memoriza o conteúdo das matéria com facilidade?
                    <br>
                    <br />
                    <input type="radio" name="9) Memorizo o conteúdo das matéria com facilidade. 
            " /> 1
                    <br />
                    <input type="radio" name="9) Memorizo o conteúdo das matéria com facilidade. 
            " /> 2
                    <br />
                    <input type="radio" name="9) Memorizo o conteúdo das matéria com facilidade. 
            " /> 3
                    <br />
                    <input type="radio" name="9) Memorizo o conteúdo das matéria com facilidade. 
            " /> 4
                    <br />
                    <input type="radio" name="9) Memorizo o conteúdo das matéria com facilidade. 
            " /> 5
                    <p></p>
                </div>
                <br>
                <div class="p1">
                    10) De 1 a 5, sente facilidade em ajudar seus amigos e colegas explicando a matéria?
                    <br>
                    <br />
                    <input type="radio" name="10) De 1 a 5, Sente facilidade em ajudar seus amigos e colegas explicando a matéria 
            " /> 1
                    <br />
                    <input type="radio" name="10) De 1 a 5, Sente facilidade em ajudar seus amigos e colegas explicando a matéria 
            " /> 2
                    <br />
                    <input type="radio" name="10) De 1 a 5, Sente facilidade em ajudar seus amigos e colegas explicando a matéria 
            " /> 3
                    <br />
                    <input type="radio" name="10) De 1 a 5, Sente facilidade em ajudar seus amigos e colegas explicando a matéria 
            " /> 4
                    <br />
                    <input type="radio" name="10) De 1 a 5, Sente facilidade em ajudar seus amigos e colegas explicando a matéria 
            " /> 5
                </div>
            </form>
    </div>
	<p></p>
    <br><br>
	<input class="btn-enviar" type="submit" name="submit" value="Enviar" />


</body>
</html>